
## Testing::
# App
NODE_ENV=development
PORT=3000


# JWT
JWT_SECRET=your-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d



# Database (PostgreSQL via Prisma)
MONGODB_URI=mongodb://localhost:27017/local-database