
## Testing::
# App
NODE_ENV=development
PORT=9000


# JWT
JWT_SECRET=your-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d



# Database (PostgreSQL via Prisma)
MONGODB_URI=mongodb://localhost:27018/mero-photo

## Redis
REDIS_URL=redis://localhost:6380